-
    var sinalcohol =
    {
        name: "Bebidas sin Alcohol",
        items: [
            {
                name: "Pepsi",
                price: "14"
            },
            {
                name: "Pepsi Light",
                price: "14"
            },
            {
                name: "7-Up",
                price: "14"
            },
            {
                name: "Guaraná",
                price: "14"
            },
            {
                name: "H2OH",
                price: "14"
            },
            {
                name: "Oriental",
                price: "14"
            },
            {
                name: "Agua",
                price: "12"
            },
            {
                name: "Jugo del día",
                price: "16"
            },
            {
                name: "Paceña sin alcohol",
                price: "25"
            }
        ]
    }
-
    var chops =
    {
        name: "Chops",
        items:[
            {
                name:"Huari",
                priceuno:34,
                pricedos:40,
                pricetres:75,
                pricecuatro:115,
            },
            {
                name:"Paceña Centenario",
                priceuno:32,
                pricedos:39,
                pricetres:72,
                pricecuatro:110,
            },
            {
                name:"Paceña",
                priceuno:"-",
                pricedos:35,
                pricetres:65,
                pricecuatro:100,
            }
        ]
    }

-
    var cervezas = 
    {
        name: "cervezas",
        items: [
            {
                name: "Huari",
                price: "36"
            },
            {
                name: "Huari Miel",
                price: "36"
            },
            {
                name: "Huari Trigo",
                price: "36"
            },
            {
                name: "Paceña Centenario",
                price: "34"
            },
            {
                name: "Paceña Pico de Plata",
                price: "30"
            },
            {
                name: "Paceña Ice",
                price: "30"
            },
            {
                name: "Beck's",
                price: "30"
            },
            {
                name: "Corona",
                price: "36"
            },
            {
                name: "Stella Artois",
                price: "37"
            },
            
        ]
    }
-   
    var vino =
    {
        name: "Vinos",
        items: [
            {
                name: "Ardiles(español)",
                price: 35,
                price_dos: 130
            },
            {
                name: "Aranjuez Duo Tannat-Merlot",
                price: 30,
                price_dos:110
            },
            {
                name: "Aranjuez Terruño Tinto",
                price: 25,
                price_dos: 90
            },
            {
                name: "Aranjuez Terruño Blanco",
                price: 25,
                price_dos:90
            }
        ]
    }


