-   
    var combos = [
        {
            img: "media/combos/thumbnail/COMBO_1_thumbnail.jpg",
            text: "COMBO 1",
            price: "Bs 110",
            link:"combo-1.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_2_thumbnail.jpg",
            text: "COMBO 2",
            price: "Bs 179",
            link:"combo-2.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_3_thumbnail.jpg",
            text: "COMBO 3",
            price: "Bs 126",
            link:"combo-3.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_4_thumbnail.jpg",
            text: "COMBO 4",
            price: "Bs 89",
            link:"combo-4.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_5_thumbnail.jpg",
            text: "COMBO 5",
            price: "Bs 168",
            link:"combo-5.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_6_thumbnail.jpg",
            text: "COMBO 6",
            price: "Bs 69",
            link:"combo-6.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_7_thumbnail.jpg",
            text: "COMBO 7",
            price: "Bs 69",
            link:"combo-7.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_8_thumbnail.jpg",
            text: "COMBO 8",
            price: "Bs 99",
            link:"combo-8.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_9_thumbnail.jpg",
            text: "COMBO 9",
            price: "Bs 199",
            link:"combo-9.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_10_thumbnail.jpg",
            text: "COMBO 10",
            price: "Bs 79",
            link:"combo-10.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_11_thumbnail.jpg",
            text: "COMBO 11",
            price: "Bs 79",
            link:"combo-11.html",
            status: true
        }
    ]