-   
    var burguers = [
        {
            img: "media/hamburguesas/thumbnail/STEAKHOUSE_BURGER_thumbnail.jpg",
            text: "Steakhouse Burger",
            price: "Bs 78 - 94",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/OCTOPUS_BURGER_thumbnail.jpg",
            text: "Octopus Burger",
            price: "Bs 78 - 96",
            link:"octopus_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CRIOLLA_BURGER_thumbnail.jpg",
            text: "Criolla Burger",
            price: "Bs 64 - 80",
            link:"criolla_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/MUSHROOM_BURGER_thumbnail.jpg",
            text: "Mushroom Burger",
            price: "Bs 66 - 82",
            link:"mushroom_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/MAC_DADDY_BURGER_thumbnail.jpg",
            text: "Mac Daddy Burger",
            price: "Bs 76 - 94",
            link:"mac_daddy_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/ROUT_66_BURGER_thumbnail.jpg",
            text: "Route 66 Burger",
            price: "Bs 68 - 86",
            link:"route_66_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/PHILLY_CHESSE_STEAK_BURGER_thumbnail.jpg",
            text: "Philly Cheese Steak Burger",
            price: "Bs 78 - 98",
            link:"philly_cheese_steqak_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/EGGSPLOSION_BURGER_thumbnail.jpg",
            text: "The Eggsplosion",
            price: "Bs 68 - 86",
            link:"the_eggsplocion_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CLASSIC_BURGER_thumbnail.jpg",
            text: "Classic Burger",
            price: "Bs 56 - 68",
            link:"classic_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/AVOCADO_Y_CORN_BURGER_thumbnail.jpg",
            text: "Avocado & Corn Burger",
            price: "Bs 68 - 86",
            link:"avocado_y_corn_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CHESSE_BURGER_thumbnail.jpg",
            text: "Cheese Burger",
            price: "Bs 62 - 78",
            link:"cheese_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/COWBOY_BURGER_thumbnail.jpg",
            text: "Cowboy Burger",
            price: "Bs 66 - 84",
            link:"cowboy_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/TEX_MEX_BURGER_thumbnail.jpg",
            text: "Tex-Mex Burger",
            price: "Bs 68 - 86",
            link:"tex_mex_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CLUE_CHESSE_BURGER_thumbnail.jpg",
            text: "Blue Cheese - Stuffed Burger",
            price: "Bs 72 - 88",
            link:"blue_cheese_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CHESSE_BACON_BURGER_thumbnail.jpg",
            text: "Cheese & Bacon Stuffed Burger",
            price: "Bs 76 - 94",
            link:"cheese_y_bacon_stuffed_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/TRIPLE_BYPASS_BURGER-thumbnail.jpg",
            text: "Triple Bypass Burger",
            price: "Bs 186",
            link:"triple_bypass_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/SLIDER_BURGER_thumbnail.jpg",
            text: "Slider of Burgers",
            price: "Bs 168",
            link:"slider_of_burger.html",
            status: true
        }

    ]