-   
    var infantil= [
        {
            img: "media/menu_infantil/thumbnail/MINI_BURGER_thumbnail.jpg",
            text: "Mini Burger",
            price: "Bs 36",
            link:"mini_burger.html",
            status: true
        },
        {
            img: "media/menu_infantil/thumbnail/KIDS_SPARERIBS_thumbnail.jpg",
            text: "Kids Spareribs",
            price: "Bs 49",
            link:"kids_spareribs.html",
            status: true
        },
        {
            img: "media/menu_infantil/thumbnail/ALITAS_DE_POLLO_thumbnail.jpg",
            text: "Kids Chicken Wings",
            price: "Bs 39",
            link:"kids_chicken_wings.html",
            status: true
        },
        {
            img: "media/menu_infantil/thumbnail/SALCHIPAPA_thumbnail.jpg",
            text: "Salchipapas",
            price: "Bs 32",
            link:"salchipapa.html",
            status: true
        }
    ]