-   
    var principal = [
        {
            img: "media/plato_principal/thumbnail/JACK_DANIELS_STEAK_thumbnail.jpg",
            text: "Jack Daniel's Steak",
            price: "Bs 114 - 184",
            link:"jack_daniels_steak.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/OVERSIZED_JACK_DANIELS_STEAK_thumbnail.jpg",
            text: "Oversized Jack Daniel's Steak",
            price: "Bs 248",
            link:"oversized_jack_daniels_steak.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/TENDERLOIN_STEAK_thumbnail.jpg",
            text: "Tenderloin Steak",
            price: "Bs 108 - 178",
            link:"tenderlion_steak.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/SURF_AND_TURF_thumbnail.jpg",
            text: "Surf & Turf",
            price: "Bs 146",
            link:"surf_and_turf.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/RIB_EYE_STEAK_thumbnail.jpg",
            text: "Rib Eye Steak",
            price: "Bs 114",
            link:"rib_eye_steak.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/T_BONE_thumbnail.jpg",
            text: "T-Bone",
            price: "Bs 124",
            link:"t_bone.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/TOMAHAWK_thumbnail.jpg",
            text: "Tomahawk",
            price: "Bs 128",
            link:"tomahawk.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/BEEF_RIBS_thumbnail.jpg",
            text: "Beef Ribs",
            price: "Bs 112",
            link:"beef_ribs.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/CUADRIL_thumbnail.jpg",
            text: "Cuadril",
            price: "Bs 106 - 158",
            link:"cuadril.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/PICANIA_thumbnail.jpg",
            text: "Picaña",
            price: "Bs 108 - 178",
            link:"picania.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/PACUMUTO_CRUCENIO_thumbnail.jpg",
            text: "Pacumuto Cruceño",
            price: "Bs 98",
            link:"pacumuto_crucenio.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/BIFE_DE_CHORIZO_ARGENTINA_thumbnail.jpg",
            text: "Bife de Chorizo - Argentina",
            price: "Bs 132 - 196",
            link:"bife_de_chorizo_argentina.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/STEAK_TARTAR_thumbnail.jpg",
            text: "Steak Tartar",
            price: "Bs 86",
            link:"steak_tartar.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/SATE_thumbnail.jpg",
            text: "Saté",
            price: "Bs 82",
            link:"sate.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/SKEWERED_CHICKEN_thumbnail.jpg",
            text: "Skewered Chicken",
            price: "Bs 92",
            link:"skewered_chicken.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/GRILLED_CHICKEN_thumbnail.jpg",
            text: "Grilled Chicken",
            price: "Bs 84",
            link:"grilled_chicken.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/CHICKEN_AND_SHRIMP_thumbnail.jpg",
            text: "Grilled Chicken & Shrimps",
            price: "Bs 120",
            link:"grilled_chicken_shrimps.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/MARINATED_PORK_SPARERIBS_thumbnail.jpg",
            text: "Marinated Pork - Spareribs",
            price: "Bs 134 - 244",
            link:"marinated_pork_spareribs.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/GRILLED_SALMON_thumbnail.jpg",
            text: "Grilled Salmón",
            price: "Bs 134",
            link:"grilled_salmon.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/GRILLED_SHRIMPS_thumbnail.jpg",
            text: "Grilled Shrimp",
            price: "Bs 118",
            link:"grilled_shrimp.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/FISH_EN_PAPILLOTE_thumbnail.jpg",
            text: "Fish en Papillote",
            price: "Bs 116",
            link:"fish_en_papillote.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/PIQUE_MACHO_thumbnail.jpg",
            text: "Pique Macho",
            price: "Bs 98 - 168",
            link:"pique_macho.html",
            status: true
        },
    ]