-   
    var postres = [
        {
            img: "media/postres/thumbnail/HELADO_TRICOLOR_REST-thumbnail.jpg",
            text: "Helado",
            price: "Bs 20",
            link:"helado.html",
            status: true
        },
        {
            img: "media/postres/thumbnail/BANANA_SPLIT-thumbnail.jpg",
            text: "Banana Split",
            price: "Bs 24",
            link:"banana_split.html",
            status: true
        }
        ,
        {
            img: "media/postres/thumbnail/CHEESE_CAKE-thumbnail.jpg",
            text: "Cheese Cake",
            price: "Bs 22",
            link:"cheese_cake.html",
            status: true
        },
        {
            img: "media/postres/thumbnail/BROWNIE_REST-thumbnail.jpg",
            text: "Brownie",
            price: "Bs 24",
            link:"brownie.html",
            status: true
        }
    ]