-   
    var salsas = [
        {
            img: "media/salsas_guarniciones/thumbnail/JACK_DANIELS_thumbnail.jpg",
            text: "Salsa Jack Daniel's",
            price: "Bs 14",
            link:"salsa_jack_daniels.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/SALSA_PICANTE_COCTEL_thumbnail.jpg",
            text: "Salsa Spicey Cóctel",
            price: "Bs 14",
            link:"salsa_spicey_coctet.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/CURRY_WHISKEY_thumbnail.jpg",
            text: "Salsa Curry Whiskey",
            price: "Bs 14",
            link:"salsa_curry_whiskey.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/CHAMPINIONES_thumbnail.jpg",
            text: "Salsa de Champiñones",
            price: "Bs 14",
            link:"salsa_champiniones.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/JD_HONEY_MUSTARD_thumbnail.jpg",
            text: "Salsa JD Honey Mustard",
            price: "Bs 14",
            link:"salsa_jd_honey_mustard.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/SALSA_ROQUEFORT_thumbnail.jpg",
            text: "Salsa Queso Azul",
            price: "Bs 14",
            link:"salsa_queso_azul.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/PIMIENTA_thumbnail.jpg",
            text: "Salsa de Pimienta",
            price: "Bs 10",
            link:"salsa_de_pimienta.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/AJO_thumbnail.jpg",
            text: "Salsa de Ajo",
            price: "Bs 10",
            link:"salsa_de_ajo.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/BBQ_thumbnail.jpg",
            text: "Salsa BBQ",
            price: "Bs 10",
            link:"salsa_bbq.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/TZAZIKI_thumbnail.jpg",
            text: "Salsa Tzaziki",
            price: "Bs 14",
            link:"salsa_tzaziki.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/MANI_thumbnail.jpg",
            text: "Salsa de Maní",
            price: "Bs 14",
            link:"salsa_mani.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/CHIMICHURRI_thumbnail.jpg",
            text: "Salsa Chimichurri",
            price: "Bs 10",
            link:"salsa_chimichurri.html",
            status: true
        }
    ]   
    var guarniciones = [
        {
            img: "media/salsas_guarniciones/thumbnail/PAPAS_FRITAS_thumbnail.jpg",
            text: "Papas Fritas",
            price: "Bs 10",
            link:"papas_fritas.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/STUFFED_POTATO-thumbnail.jpg",
            text: "Stuffed Grilled Potato",
            price: "Bs 15",
            link:"stuffed_grilled_potato.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/PAPAS_A_LA_PARRILLA_thumbnail.jpg",
            text: "Papa a la Parrilla",
            price: "Bs 10",
            link:"papa_a_la_parrilla.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/PURE_thumbnail.jpg",
            text: "Puré de Papas",
            price: "Bs 10",
            link:"pure.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/YUCA_FRITA_thumbnail.jpg",
            text: "Yuca Frita",
            price: "Bs 10",
            link:"yuca_frita.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/CAMOTE_A_LA_PARRILLA_thumbnail.jpg",
            text: "Camote a la Parrilla",
            price: "Bs 10",
            link:"camote_a_la_parrilla.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/MAC_CHEESE_thumbnail.jpg",
            text: "Mac & Cheese",
            price: "Bs 15",
            link:"mac_heese.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/TALLARIN_SALTEADO-thumbnail.jpg",
            text: "Tallarín Salteado",
            price: "Bs 10",
            link:"tallarin_salteada.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/ARROZ_PRIMAVERA_thumbnail.jpg",
            text: "Arroz Primavera",
            price: "Bs 10",
            link:"arroz_primavera.html",
            status: true
        },
        {
            img: "media/salsas_guarniciones/thumbnail/ARROZ_CON_QUESO_thumbnail.jpg",
            text: "Arroz con Queso",
            price: "Bs 15",
            link:"arroz_con_queso.html",
            status: true
        }
    ]