-   
    var tablas = [
        {
            img: "media/tablas/thumbnail/CAVALRY_SWORD_thumbnail.jpg",
            text: "Cavalry Sword",
            price: "Bs 249 - 399",
            link:"cavalry_sword.html",
            status: true
        },
        {
            img: "media/tablas/thumbnail/TABLITA_ARGENTINA_thumbnail.jpg",
            text: "Tablita Argentina",
            price: "Bs 249 - 399",
            link:"tablita_argentina.html",
            status: true
        }
    ]