-   
    var tapas = [
        {
            img: "media/tapas_entradas/thumbnail/LANGOSTINOS_A_LA_PARRILLA_thumbnail.jpg",
            text: "Langostinos a la parrilla",
            price: "Bs 52",
            link:"langostinos_a_la_parrilla.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/LANGOSTINO_AL_AJILLO_thumbnail.jpg",
            text: "Langostinos al Ajillo",
            price: "Bs 64",
            link:"langostino_al_ajillo.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/LANGOSTINOS_PIRI_PIRI_thumbnail.jpg",
            text: "Langostinos Piri Piri",
            price: "Bs 48",
            link:"langostinos_piri_piri.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/PULPO_AL_BISTRO_thumbnail.jpg",
            text: "Pulpo al Bistro",
            price: "Bs 59",
            link:"pulpo_al_bistro.html",
            status: true
        },        
        {
            img: "media/tapas_entradas/thumbnail/PULPO_A_LA_GALLEGA_thumbnail.jpg",
            text: "Pulpo a la Gallega",
            price: "Bs 50",
            link:"pulpo_a_la_gallega.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/BOQUERONES_AL_VINAGRE_thumbnail.jpg",
            text: "Boquerones en Vinagre",
            price: "Bs 52",
            link:"boquerones_en_vinagre.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/TORTILLA_ESPAÑOLA_thumbnail.jpg",
            text: "Tortilla Española",
            price: "Bs 28",
            link:"tortilla_espanola.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/PAPAS_BRAVAS_thumbnail.jpg",
            text: "Papas Bravas",
            price: "Bs 28",
            link:"papas_bravas.html",
            status: true
        },
                {
            img: "media/tapas_entradas/thumbnail/ALBONDIGAS_CON_TOMATE_thumbnail.jpg",
            text: "Albóndigas con Tomate",
            price: "Bs 32",
            link:"albondigas_con_tomate.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/BITTER_BALLEN_thumbnail.jpg",
            text: "Bitterballen",
            price: "Bs 32",
            link:"bitter_ballen.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/NACHOS_thumbnail.jpg",
            text: "Nachos",
            price: "Bs 38",
            link:"nachos.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CARPACIO_DE_RES_thumbnail.jpg",
            text: "Carpaccio de Res",
            price: "Bs 50",
            link:"carpacio_de_res.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CARPACIO_DE_SALMON_thumbnail.jpg",
            text: "Carpaccio de Salmón",
            price: "Bs 52",
            link:"carpacio_de_salmon.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CARPACIO_DE_PULPO_thumbnail.jpg",
            text: "Carpaccio de Pulpo",
            price: "Bs 52",
            link:"carpaccio_de_pulpo.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CARPACIO_DE_ATUN_thumbnail.jpg",
            text: "Carpaccio de Atún",
            price: "Bs 52",
            link:"carpaccio_de_atun.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/BROCHETA_DE_CHAMPINON_thumbnail.jpg",
            text: "Brocheta de Champiñon",
            price: "Bs 44",
            link:"brocheta_de_champinon.html",
            status: false // TODO: no tengo fotos de brochetas de chapiñon
        },
        {
            img: "media/tapas_entradas/thumbnail/CORN_ON_THE_COB_thumbnail.jpg",
            text: "Spicey Grilled &ldquo;Corn on the Cob&rdquo;",
            price: "Bs 26",
            link:"spicey_grilled_corn_on_the_cob.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/JIBA_thumbnail.jpg",
            text: "Jiba",
            price: "Bs 42",
            link:"jiba.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/MORCILLA_thumbnail.jpg",
            text: "Morcillas",
            price: "Bs 28",
            link:"morcilla.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CHORIZO_DE_LA_CASA_thumbnail.jpg",
            text: "Chorizo de la Casa",
            price: "Bs 35",
            link:"chorizo_de_la_casa.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CHORIZO_MIXTO_thumbnail.jpg",
            text: "Chorizo Mixto",
            price: "Bs 79",
            link:"chorizo_mixto.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/ANTICUCHOS_thumbnail.jpg",
            text: "Anticuchos",
            price: "Bs 38",
            link:"anticuchos.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CHINCHULINES_thumbnail.jpg",
            text: "Chinchulines",
            price: "Bs 29",
            link:"chinchulines.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/UBRE_thumbnail.jpg",
            text: "Ubre",
            price: "Bs 29",
            link:"ubre.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/HUEVO_ROTO_thumbnail.jpg",
            text: "Huevo Roto",
            price: "Bs 28",
            link:"huevo_roto.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/TABLA_MIXTA_thumbnail.jpg",
            text: "Tabla Mixta",
            price: "Bs 99",
            link:"tabla_mixta.html",
            status: true
        }
    ]