-   
    var vegetariano = [
        {
            img: "media/vegetariano/thumbnail/CHAR_GRILLED_VEGETARIAN_SKEWERS_thumbnail.jpg",
            text: "Char-Grilled Vegetarian skewers",
            price: "Bs 52",
            link:"char_grilled_vegetarian_skewers.html",
            status: true
        },
        {
            img: "media/vegetariano/thumbnail/REMOLACHA_BURGER_thumbnail.jpg",
            text: "Hamburguesa de Remolacha",
            price: "Bs 52",
            link:"hamburguesa_de_remolacha.html",
            status: true
        },
        {
            img: "media/vegetariano/thumbnail/QUINUA_BURGER_thumbnail.jpg",
            text: "Hamburguesa de quinua",
            price: "Bs 52",
            link:"hamburguesa_de_quinoa.html",
            status: true
        },
        {
            img: "media/vegetariano/thumbnail/LENTEJA_BURGER_thumbnail.jpg",
            text: "Hamburguesa de lentejas",
            price: "Bs 52",
            link:"hamburguesa_de_lentejas.html",
            status: true
        },
        {
            img: "media/vegetariano/thumbnail/ENSALADA_THE_STEAKHOUSE_thumbnail.jpg",
            text: "Ensalada The Steakhouse",
            price: "Bs 42",
            link:"ensalada_the_steakhouse.html",
            status: true
        },
        {
            img: "media/vegetariano/thumbnail/ENSALADA_CESAR_thumbnail.jpg",
            text: "Ensalada César",
            price: "Bs 42",
            link:"ensalada_ceasar.html",
            status: true
        }
    ]