extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Combo 9 - 2 x Jack Daniel's steak  300 g + 2 cervezas Huari de 330 ml<br>Bs 199"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/combos/COMBO_9.jpg',page,'','',descripcion,sponsors[3])
    include ../../blocks/btn_atras
    +btn("combos")