extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Combo 5 - Slider: Steakhouse burger + Criolla burger + Cowboy burger + 3 Pepsi de 500 ml<br>Bs 168"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/combos/COMBO_5.jpg',page,'','',descripcion,sponsors[2])
    include ../../blocks/btn_atras
    +btn("combos")