extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Combo 10 - Steakhouse Burger 160g + Huari  de 330 ml<br>Bs 79"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/combos/COMBO_10.jpg',page,'','',descripcion,sponsors[0])
    include ../../blocks/btn_atras
    +btn("combos")