extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Bife de Chorizo - Argentina"
    - descripcion = "(Sujeto a disponibilidad).  El más famoso corte de carne argentina (importada) servido con chimichurri."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +platedos('media/plato_principal/BIFE_DE_CHORIZO_ARGENTINA.jpg',page,'(200 g) Bs 132','(400 g) Bs 196',descripcion,sponsors[1])
    include ../../blocks/btn_atras
    +btn("plato_principal")