extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Cuadril"
    - descripcion = "Carne hecha al estilo argentino, servida con una salsa a elección."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +platedos('media/plato_principal/CUADRIL.jpg',page,'(300 g) Bs 106','(600 g) Bs 158',descripcion,sponsors[1])
    include ../../blocks/btn_atras
    +btn("plato_principal")