extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Grilled Chicken"
    - descripcion = "Nuestra opción más “light”, filete de pollo a la parrilla, servido con una salsa a elección."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +platedos('media/plato_principal/GRILLED_CHICKEN.jpg',page,'Bs 84','',descripcion,sponsors[3])
    include ../../blocks/btn_atras
    +btn("plato_principal")