extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Grilled Shrimp"
    - descripcion = "Brochetas de langostinos con cebolla y morrón servido con una salsa a elección."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +platedos('media/plato_principal/GRILLED_SHRIMPS.jpg',page,'Bs 118','',descripcion,sponsors[0])
    include ../../blocks/btn_atras
    +btn("plato_principal")