extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Marinated Pork- Spareribs"
    - descripcion = "Disfruta de nuestras famosas y deliciosas costillas de cerdo marinadas y asadas a la parrilla a la perfección, bañadas en salsa BBQ. Si logras comer mas de 1 kilo. ¡te ganas una de nuestras poleras!"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +platedos('media/plato_principal/MARINATED_PORK_SPARERIBS.jpg',page,'(600 g) Bs 134','(1000 g) Bs 244',descripcion,sponsors[2])
    include ../../blocks/btn_atras
    +btn("plato_principal")