extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Surf & Turf"
    - descripcion = "Nuestro mejor corte de filete  (lomito) con langostinos, acompañado con salsa Jack Daniel's y salsa de ajo."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +platedos('media/plato_principal/SURF_AND_TURF.jpg',page,'(300 g) Bs 146','',descripcion,sponsors[4])
    include ../../blocks/btn_atras
    +btn("plato_principal")