extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Tomahawk"
    - descripcion = "Un corte famoso en los Estados Unidos como un Rib Eye pero con el hueso, quedando en forma de un hacha que le dรก un excelente sabor."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +platedos('media/plato_principal/TOMAHAWK.jpg',page,'(650 g) Bs 128','',descripcion,sponsors[1])
    include ../../blocks/btn_atras
    +btn("plato_principal")