extends ../templates/template-dishes
include ../mixins/dishes
//- cambiar la varible | PAGE | para que se cambie el titulo de la pagina
block append config
    - page = "Vegetariano"
block content
    .container
        .dishes
            //- modificar el | INCLUDE | y la variable de objetos
            include ../config/vegetariano
            each plate in vegetariano
                if(plate.status === true)
                    +dishes(plate.link,plate.img,plate.text,plate.price)