extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Route 66 Burger"
    - descripcion = "Hamburguesa típica americana con aros de cebolla grillados, champiñones, tocino, queso, pepinillo y salsa BBQ."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/ROUTE_66_BURGER.jpg',page,'(160 g) Bs 68','(250 g) Bs 86',descripcion,sponsors[5])
    include ../../blocks/btn_atras
    +btn("hamburguesas")