extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Slider of Burgers"
    - descripcion = "Steakhouse Burger, Criolla Burger y Cowboy Burger"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/SLIDER_BURGER.jpg',page,'Bs 168','',descripcion,sponsors[0])
    include ../../blocks/btn_atras
    +btn("hamburguesas")