extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Triple Bypass Burger"
    - descripcion = "¿Estás listo para un ataque al corazón? ¡Acábalo todo y gánate una de nuestras poleras!"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/TRIPLE_BYPASS_BURGER.jpg',page,'Bs 186','',descripcion,sponsors[4])
    include ../../blocks/btn_atras
    +btn("hamburguesas")