extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Puré de Papas"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/salsas_guarniciones/PURE.jpg',page,'Bs 10','',descripcion,sponsors[4])
    include ../../blocks/btn_atras
    +btn("salsas_guarniciones")