extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Stuffed Grilled Potato"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/salsas_guarniciones/STUFFED_POTATO.jpg',page,'Bs 15','',descripcion,sponsors[0])
    include ../../blocks/btn_atras
    +btn("salsas_guarniciones")