extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Boquerones en Vinagre"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tapas_entradas/BOQUERONES_AL_VINAGRE.jpg',page,'Bs 52','',descripcion,sponsors[3])
    include ../../blocks/btn_atras
    +btn("tapas_entradas")