extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Carpaccio de Res"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tapas_entradas/CARPACIO_DE_RES.jpg',page,'Bs 50','',descripcion,sponsors[1])
    include ../../blocks/btn_atras
    +btn("tapas_entradas")