extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Huevo Roto"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tapas_entradas/HUEVO_ROTO.jpg',page,'Bs 28','',descripcion,sponsors[0])
    include ../../blocks/btn_atras
    +btn("tapas_entradas")