extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Spicey Grilled &ldquo;Corn on the Cob&rdquo;"
    - descripcion = ""
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tapas_entradas/CORN_ON_THE_COB.jpg',page,'Bs 26','',descripcion,sponsors[3])
    include ../../blocks/btn_atras
    +btn("tapas_entradas")