extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Tabla Mixta"
    - descripcion = "2 chorizos de la Casa, 2 morcillas, anticuchos, chinchulines, ubre y dos salsas."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tapas_entradas/TABLA_MIXTA.jpg',page,'Bs 99','',descripcion,sponsors[4])
    include ../../blocks/btn_atras
    +btn("tapas_entradas")