extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Ubre"
    - descripcion = "Servida con papa a la parrilla."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tapas_entradas/UBRE.jpg',page,'Bs 29','',descripcion,sponsors[0])
    include ../../blocks/btn_atras
    +btn("tapas_entradas")