meta(name="auth", content="Cristhian Chauca")
link(rel="stylesheet", href="styles.css")
title #{title} #{page}
meta(name="description", content=descripcion)
meta(name="keywords", content=keywords)
//- Cambia el color de la barra de direcciones en mobile
meta(name="theme-color", content="#3d2116")
link(rel="icon", href="media/steakhouse-icon.png", type="image/png")