header.header
    picture
        source.header__img(media="(max-width: 480px)", srcset="media/steakhouse-header-small.png")
        source.header__img(media="(max-width: 768px)", srcset="media/steakhouse-header-medium.png")
        img.header__img(srcset="media/steakhouse-header-long.png", alt="")
    img.header__logo(src="media/steakhouse.png", alt="Logo SteakHouse")