.headerdishes {
  font-size: 1.1em;
  background-color: $colorprimario;
  color: $colorsecundario;
  padding-bottom: 3px;
  padding-top: 3px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.dishes {
  display: grid;
  grid-template-columns: repeat(4, minmax(190px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-bottom: 70px;
  &__link {
    text-decoration: none;
    width: 100%;
    height: auto;
  }
  &__link:hover .dishes__img {
    transform: scale(1.03);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  &__picture {
    display: block;
  }
  &__price {
    font-size: 0.95em;
  }
  &__img {
    width: 100%;
    min-height: 100px;
  }
  &__text {
    text-align: center;
    width: 100%;
    display: block;
  }
  &__name {
    text-align: center;
    font-size: 1.3em;
    color: $colorprimario;
    justify-content: center;
  }
}
