extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Mini Burger"
    - descripcion = "Para nuestros pequeños amigos carnívoros tenemos un menú especial que incluye una mini-hamburguesa de su elección, papas fritas y una porción de helado."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/menu_infantil/MINI_BURGER.jpg',page,'Bs 36','',descripcion,sponsors[2])
    include ../../blocks/btn_atras
    +btn("menu_infantil")