extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Cavalry Sword"
    - descripcion = "Si te es difícil elegir, ¡mejor pruébalo todo!: “JACK DANIEL'S  Steak”, “Sparerib”, “Shrimp”, “Chorizo de la Casa”,  “Chicken”, “Hamburger” y  dos salsas a elección."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tablas/CAVALRY_SWORD.jpg',page,'2 personas Bs 249','4 personas Bs 399',descripcion,sponsors[0])
    include ../../blocks/btn_atras
    +btn("tablas")