extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Tablita Argentina"
    - descripcion = "Filete (lomito), asado de tira, cuadril, ubre, corazón, morcilla, chorizo, pan tostado y dos salsas a elección."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/tablas/TABLITA_ARGENTINA.jpg',page,'2 personas Bs 249','4 personas Bs 399',descripcion,sponsors[1])
    include ../../blocks/btn_atras
    +btn("tablas")